.DS_Store
out.txt
build_vicars.sh
run_vicars.sh
vicars
log_approx.txt
log_sample_points.txt
plot.p
autoplot.p
logplot.p
Session.vim
plot_rs.p
m_plot.p

*.xcuserstate

*.pbxproj

*.xcuserstate

*.xcuserstate

*.xcuserstate
